body{
    background-color: cadetblue;
    font-style: italic;
    color: floralwhite;
}
#output{
    border:double;
    border-style: solid;
    font-family: 'Times New Roman', Times, serif;
    border-color: dimgrey;
    text-align: center;
    background-color: dimgrey;
    color: floralwhite;
    font-size: x-large;
}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightblue;
    font-style: italic;
}
p{
    font-size: x-large;
    text-align: center;
    color: lightblue;
}
img{
    border-radius: 55%;
    width: 180px;
    margin-top: 30px;
    margin-left: 10px;
  
}
.container{
    background-color: slategrey;
    text-align: center;
    border-radius: 70px;
}
h4{
    text-align: center;
    color: black;
}

h5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.jumbotron{
    color: black;
    border-radius: 20%;
}